		<!--
		<div class="col-lg-6">
		    <div class="panel panel-default">
		        <div class="panel-heading" style="border-bottom: 1px solid transparent;border-color: #dddddd;">
		            <div><span class="showmore" id="showmore_domain_influ" style="float:right;cursor:pointer" type="button"data-toggle="modal" data-target="#more_domain_influ" ><u>查看详情</u></span>用户领域分布</div>
		        </div>
		        <div class="panel-body">
		          <div id="influence_domain" style="width:400px;height:280px;margin:30px 40px;margin:-10px 50px 0px 20px;">
		          </div>
		      </div>
		  </div>
		</div>
<div class="modal fade" id="more_domain_influ" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="font-size:18px" id="myModalLabel">主要领域分布</h4>
      </div>
      <div class="modal-body" id='influ_domain_WordList'>
      </div>
    </div>
  </div>
</div>
		<div class="col-lg-6">
		    <div class="panel panel-default">
		        <div class="panel-heading" style="border-bottom: 1px solid transparent;border-color: #dddddd;">
		            <div><span class="showmore" id="showmore_topic_influ" style="float:right;cursor:pointer" type="button"data-toggle="modal" data-target="#more_topic_influ" ><u>查看详情</u></span>用户话题分布</div>
		        </div>
		        <div class="panel-body">
		          <div id="influence_topic" style="width:400px;height:280px;margin:30px 40px;margin:-10px 50px 0px 20px;">
		          </div>
		      </div>
		  	</div>
		</div>

 <div class="modal fade" id="more_topic_influ" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="font-size:18px" id="myModalLabel">主要话题分布</h4>
      </div>
      <div class="modal-body" id='influ_topic_WordList'>
      </div>
    </div>
  </div>
</div>
-->
<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading" style="border-bottom: 1px solid transparent;border-color: #dddddd;">
            领域信息
        </div>
        <div class="panel-body">
        	<div id='group_domain' style='float:left;width:300px;height:200px' >
				
        	</div>
    	</div>
    </div>
</div>

<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading" style="border-bottom: 1px solid transparent;border-color: #dddddd;">
            话题信息
        </div>
        <div class="panel-body">
        	<div id='group_topic' style='float:left;width:300px;height:200px' >
        	</div>
    	</div>
	</div>
</div>
<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading" style="border-bottom: 1px solid transparent;border-color: #dddddd;">
            政治倾向性
        </div>
        <div class="panel-body">
        	<div id='group_politics' style='float:left;width:300px;height:200px' >
        	</div>
    	</div>
    </div>
</div>

<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading" style="border-bottom: 1px solid transparent;border-color: #dddddd;">
            关键词云
        </div>
        <div class="panel-body">
        	<div id='psychologyState' style='float:left;width:300px;height:200px' >
        	</div>
    	</div>
	</div>
</div>
<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading" style="border-bottom: 1px solid transparent;border-color: #dddddd;">
            敏感词云
        </div>
        <div class="panel-body">
        	<div id='sensitiveCloud' style='float:left;width:300px;height:200px' >
        	</div>
    	</div>
    </div>
</div>
<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading" style="border-bottom: 1px solid transparent;border-color: #dddddd;"><span class="showmore" id="showmore_topic_influ" style="float:right;cursor:pointer" type="button"data-toggle="modal" data-target="#more_sen" ><u>敏感微话题</u></span>
            微话题词云
        </div>
        <div class="panel-body">
        	<div id='hashtagCloud' style='float:left;width:300px;height:200px' >
        	</div>
    	</div>
    </div>
</div>

<div class="col-lg-6" style="margin-top:10px">
    <div class="panel panel-default">
        <div class="panel-heading" style="border-bottom: 1px solid transparent;border-color: #dddddd;">
            <div>影响力分布</div>
        </div>
        <div class="panel-body">
          <div id="influ_distribution" style="width:450px;height:280px;margin:30px 40px;margin:-10px 50px 0px 20px;">
          </div>
      </div>
  	</div>
</div>

<div class="col-lg-6" style="margin-top:10px">
    <div class="panel panel-default">
        <div class="panel-heading" style="border-bottom: 1px solid transparent;border-color: #dddddd;">
            <div>敏感度分布</div>
        </div>
        <div class="panel-body">
          <div id="group_sensitive_distribution" style="width:450px;height:280px;margin:30px 40px;margin:-10px 50px 0px 20px;">
          </div>
      </div>
  	</div>
</div>
		
<div class="modal fade" id="more_domain" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 500px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="font-size:18px" id="myModalLabel">身份排名</h4>
      </div>
      <div class="modal-body" id='domian_WordList'>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="more_topic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 500px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="font-size:18px" id="myModalLabel">话题排名</h4>
      </div>
      <div class="modal-body" id='topic_WordList'>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="more_sen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 500px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="font-size:18px" id="myModalLabel">敏感微话题</h4>
      </div>
      <div class="modal-body" id='sen_words'>
      </div>
    </div>
  </div>
</div>