<h3><b>地理位置</b></h3><hr>
<div class="panel panel-default" style='width: 680px;float: left;height:656px;'>
    <div class="panel-heading" style="border-bottom: 1px solid transparent;border-color: #dddddd;">
        <div>用户轨迹</div>
    </div>
    <div class="panel-body">
		<div id='active_geo' style='width:650px;height:585px;float:left;'>
            <div class='col-md-6' style="margin:0px 0px 10px 15px;width:315px;float:left;">
                <span class="input-group-addon" style="margin-right:15px;width:60px;border:1px solid white;float:left;background-color:white;display:inline-block;padding-left:0px;line-height: 8px;">选择用户</span>
                <span id="track_weibo_user"></span>
            	<span id="track_user_commit" class="label label-success" style='margin-top:2px;float:right;cursor:pointer; background-color:rgba(69, 133, 195, 0.89);'>查看</span>
            </div>
			<div id="user_geo_map" style='width:100%;height:90%;'></div>
		</div>
    </div>
	</div>
<div style='float:left;margin-left:15px;width:270px'>
	<div class="panel panel-default" style='width: 265px;float: left;'>
	    <div class="panel-heading" style="border-bottom: 1px solid transparent;border-color: #dddddd;">
	        <div><span id="geo_show_more" style="float:right;cursor:pointer" type="button"data-toggle="modal" data-target="#move_location_more"><u>查看更多</u></span>位置转移统计</div>
	    </div>
	    <div class="panel-body" style='padding:2px;'>
			<div id='move_location' style='overflow-x:hidden;width:260px;padding-top:5px;'></div>
		</div>
	</div>
</div>
<div class="panel panel-default" style='width: 967px;float: left;margin-top:10px;'>
    <div class="panel-heading" style="border-bottom: 1px solid transparent;border-color: #dddddd;">
        <div>整体用户地理位置分布</div>
    </div>
    <div class="panel-body">
		<div id='top_geo' style='overflow-x:hidden;width:960px;float:left;'>
			<div id="top_active_geo_line" style="height:350px;width:940px;"></div>
		</div>
  	</div>
</div>
<br>