/* lg */ 
@media (min-width: 1200px) {

}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
  .slide-text{
    padding: 0;
  }
  
  #header .navbar-nav.navbar-right >li {
    padding: 0 15px;
  }
}


/* sm */
@media (min-width: 768px) and (max-width: 991px) {

  .slide-text .texts{
    font-size: 60px;
  }
    #header .navbar-nav.navbar-right li{
    padding: 0 10px;
  }

  #header .navbar-nav.navbar-right >li a {
    font-size: 13px;
  }

  .features-nav li{
    padding: 0 20px;
  }
  .features-nav .media-content h3{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .features-nav .media-content p{
    font-size: 14px;
    line-height: 24px;
  }

  #portfolio .portfolio-filter li a{
    font-size: 16px;
  }

  #portfolio .efffect h4{
    display: none;
  }

  .single-blog img{
    width: 120px;
  }

  .single-blog .blog-content{
    padding-left: 0;
  }

  .blog-content h2{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

}

/* xs */
@media (max-width: 767px) {

  .slide-text{
    padding: 0;
  }

  .slide-text .texts{
    font-size: 26px;
  }

  #header .navbar-nav.navbar-right li:first-child{
    padding: 0 20px; 
  }

  #header .navbar-nav.navbar-right li {
    padding: 0 20px
  }

  #header .navbar-nav.navbar-right li a {
    padding: 0
  }

  #header .navbar-inverse .navbar-nav li.active > a, 
  #header .navbar-inverse .navbar-nav li.active > a:focus, 
  #header .navbar-nav.navbar-right li > a:hover {
    border: none;
  }


  /*dropdown*/
  .dropdown-menu {
    width: 100%;
  }
  #header .navbar-inverse .navbar-nav .dropdown-menu > li > a{
    padding: 10px 0;
  }

  #home-carousel .carousel-inner h2 {
    font-size: 35px;
  }

  #home-carousel .carousel-inner .item {
    height: 515px;
  }

  #home-carousel .carousel-inner p {
    font-size: 14px;
  }

  #home-carousel .carousel-inner button {
    font-size: 16px;
    height: 45px;
    width: 150px;
  }

  #community-carousel .carousel-indicators {
    top:auto;
    left:45%;
    bottom: 10px;
    width: auto;
  }

  #community-carousel .carousel-indicators li {
    display: inline-block;
  }

  .media-content h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .media-content p {
    font-size: 14px;
    line-height: 25px;
  }

  .features-nav li {
    padding: 25px 30px;
  }

  .service-media {
    padding-left: 0;
    padding-top: 30px;
  }

  .service-media img {
    padding-right: 15px;
    padding-top: 5px;
    padding-left: 15px;
    margin-right: 0 !important;
  }

  .service-media h4 {
    font-size: 20px;
    margin-top: 45px;
  }

  .service-media p {
    font-size: 15px;
    line-height: 25px;
  }

  #email-marketing-carousel .carousel-indicators, 
  #customer-satisfaction-carousel .carousel-indicators, 
  #support-carousel .carousel-indicators {
    left: 73%
  }

  #portfolio h2,
  #services h2.title {
    width: 133px;
    font-size: 25px
  }

  #portfolio .portfolio-filter {
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 0;
  }

  #portfolio .portfolio-filter li a {
    font-size: 15px;
    margin-bottom: 1px;
    width: auto;
    padding: 10px;
  }

  .portfolio-items > div{
    width: 49% !important;
  }

  .mask h3 {
    font-size: 18px;
  }

  .mask h4 {
    font-size: 14px
  }
  .promotion h2 {
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    padding-bottom: 12px
  }

  #blog .blog-heading, 
  #our-team h2 {
    font-size: 25px;
    width: 125px
  }

  .team-member {
    margin-bottom: 30px
  }


  .parallax-section{
    padding: 50px 0;
    background-position: 50% !important;
    background-attachment: inherit !important;
  }

  .single-blog .blog-content{
    padding-left: 0;
  }

  .blog-content h2{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .comments h2 {
    font-size: 17px;
    line-height: 28px;
  }

  .comments {
    padding-top: 175px;
  }

  #contact .social-icons a{
    display: inline-block;
    margin-bottom: 3px;
  }

  #footer p {
    float: none !important;
    text-align: center;
  }

  #gmap-wrap{
    display: none;
  }

  #contact{
    width: 100%;
    float: none;
  }

  /* blog responsive */

  .blog-item{
    display: block;
  }

  .entry-meta {
    padding-bottom: 20px;
    padding-top: 20px;
    width: auto;
    display: block;
    margin-right: 15px;
    margin-left: 15px;
  }

  .entry-meta h4{
    margin-bottom: 0;
  }

  .entry-meta ul {
    margin-bottom: 10px;
    margin-top: 10px;
    display: inline-block;
  }

  .entry-meta ul li {
    margin-right: 15px;
  }

  .entry-meta ul li:last-child {
    margin-right: 0;
  }

  .entry-meta ul li a{
    padding: 0;
  }
  .entry-meta hr{
    margin-top: 0;
  }

  .blog-item span{
    display: inline-block;
    margin: 0 5px;
  }

  .blog-content p{
    font-size: 16px;
    line-height: 24px;
  }

  .btn-readmore{
    margin-bottom: 25px;
  }

  .widget.search{
    margin-top: 40px;
  }

  .blog-content h3{
    margin-top: 15px;
  }

  .replay-box{
    margin-top: 40px;
  }

  .social-networks{
    margin-bottom: 20px;
    text-align: center;
  }

  .social-networks .pull-right{
    float: none!important;
    display: inline-block;
  }

  .cross-icon{
    text-align: right;
  }

  .cross-icon a{
    font-size: 22px;
  }

  .portfolio-prev,
  .portfolio-next{
    line-height: 26px;
    height: 30px;
    width: 30px;
    font-size: 16px;
  }

  .social-networks a i{
    font-size: 12px;
    height: 30px;
    width: 30px;
    padding: 0;
    line-height: 30px;
  }

  .single-carousel-right,
  .single-carousel-left{
    font-size: 14px;
    height: 40px;
    line-height: 40px;
  }

  .mask h4{
    padding-right:0;
    padding-left: 0;
  }

  #portfolio .project-info h2,
  #portfolio .project-details h2{
    width: auto;
  }

  ul.plan {
     margin-bottom: 30px;
   }
  
   .single-blog .pull-left{
    float: none !important;
    margin-right: 0px;
  }

  .blog-content h2 {
    margin-top: 10px;
  }
  
  #contact form {
  margin-right: 0;
  padding: 0 15px;
  margin-left: 0;
  } 
  
  #gmap-wrap {
    display: block;
  }

  #gmap-wrap {
    float: none;
    width: 100%;
    height: inherit;
  }
  
  #contact .social-icons {
    padding: 6% 15px;
  }
  
  .infowindow {
    width: 150px;
    height: 150px;
    left: 10%;
  }

  .infowindow h3{
    font-size: 18px;
  }

}

/* XS Portrait */
@media (max-width: 480px) {

  .blog-content p{
    font-size: 14px;
    line-height: 24px;
  }

  .media-content h4 {
    margin-top: 7%
  }

  .features-nav .media{
    text-align: center;
  }

  .features-nav .media .pull-left,
  .service-media.media .pull-left{
    float: none!important;
    clear: both;
    margin-bottom: 20px;
    margin-right: 0;
    padding: 0;
  }

  .features-nav .media .pull-left .media-object{
    margin: 0;
  }

  .features-nav .media-content h3,
  .service-media h3{
    font-size: 22px;
    margin-bottom: 15px;
  }

  .features-nav .media-content p,
  .service-media p{
    font-size: 14px;
    line-height: 24px;
  }

  .service-media.media .pull-left{
    margin-top: 0;
  }

  .service-media.media{
    margin-bottom: 40px;
    text-align: center;
  }

  .service-media {
    padding-top: 0;
  }

  .service-media img {
    margin-top:-28px
  }

  .service-media h4 {
    margin-top: 40px
  }

  .isotope, .isotope .isotope-item {
    width: 100%;
  }

  .mask h3 {
    font-size: 24px;
    margin-top: 25%;
  }

  .mask h4 {
    font-size: 20px;
  }

  #portfolio .portfolio-filter li a{
    width: auto;
  }

  .portfolio-items > div{
    width: 100% !important;
  }

  #carousel-blog .left {
    right: 45px;
  }

  .carousel-blog-control {
    font-size: 16px;
    height: 30px;
    width: 30px;
    line-height: 30px;
  }

  .post-comment .pull-left{
    float: none!important;
    clear: both;
    margin-bottom: 15px;
    display: inline-block;
  }

  .btn-reply{
    font-size: 10px;
  }

  .replay-box form span{
    margin: 0;
  }

  .replay-box form span input{
    width: 100%;
  }

  .portfolio-items .mask h3 {
    margin-top: 25px;
  }
  
  #team-member-carousel .col-xs-6{
    width: 100%;
  }
  
  .testimonial h2 {
    font-size: 18px;
  }
  
  .blog-content h2 {
    margin-top: 10px;
  }
  
  .single-blog .pull-left{
    width: 100%;
    float: none !important;
    margin-right: 0px;
  }
  
  .single-blog img {
    width: 100%;
  }
  
  ul.plan{
    margin-bottom: 30px;
  }
  
  #contact form {
  margin-right: 0;
  padding: 0 15px;
  margin-left: 0;
  } 
  
  #gmap-wrap {
    display: block;
  }

  #gmap-wrap {
    float: none;
    width: 100%;
    height: inherit;
  }
  
  #contact .social-icons a i {
  height: 38px;
  width: 38px;
  }
  
  #contact .social-icons {
    padding: 6% 15px;
  }

  .infowindow {
    width: 150px;
    height: 150px;
    left: 10%;
  } 

  .infowindow h3{
    font-size: 18px;
  }  


}

