<!DOCTYPE HTML>
<html>
<head>
<title>Simple Login Form</title>
<meta charset="UTF-8" />
<meta name="Designer" content="PremiumPixels.com">
<meta name="Author" content="$hekh@r d-Ziner, CSSJUNTION.com">
<link rel="stylesheet" type="text/css" href="/static/content/css/reset.css">
<link rel="stylesheet" type="text/css" href="/static/content/css/structure.css">
</head>

<body>
<form class="box login" action="" method="POST">
  <fieldset class="boxBody">
    <label>用户名</label>
    <input type="text" name="uname" tabindex="1" placeholder="" required>
    <label>密码</label>
    <input type="password" name="passwd" tabindex="2" required>
  </fieldset>
  <footer>
    <label><input type="checkbox" tabindex="3">记住密码</label>
    <input type="submit" class="btnLogin" value="登录" onclick="check(this.form)" tabindex="4">
  </footer>
</form>
<!-- <footer id="main">
  <a href="http://wwww.cssjunction.com">Simple Login Form (HTML5/CSS3 Coded) by CSS Junction</a> | <a href="http://www.premiumpixels.com">PSD by Premium Pixels</a>
</footer> -->

</body>
</html>