{% extends "index/base.html" %}
{% block title %}人物属性检索{% endblock title %}
{% block head_title %}人物属性检索{% endblock head_title %}
   {% block custom_css %}
<style>
    .dataTables_filter{text-align:right;margin-bottom:5px;}
    .dataTables_paginate{margin-top:-10px;margin-bottom:-20px;}
    .mouse {border:#d0d0d0 solid 1px;}
</style>
  <link rel="stylesheet" href="/static/custom/css/overview.css" media="screen" />
<link  type="text/css" href="/static/personal/css/style.css" rel="stylesheet"/>
   
   {% endblock custom_css %}

   {% block custom_js %}
<script src='/static/custom/js/identify_table.js'></script>
   {% endblock custom_js %}


{% block body %}
<h2>人物属性检索</h2>
<div id='page' style="margin-top:50px;">
    {% include "index/search/search_base.html" %}
</div>
{% endblock body %}

  {% block end_js %}
    <script src='/static/custom/js/search_portrait.js'></script>
    <script>
        //var user_name = "{{g.user}}";
        var url = '/search/portrait_search/?stype=1';
        url += get_simple_par();
        $('#al_choose').css('display','none');
        //url += '&submit_user='+user_name;
        //console.log(url);
        //draw_conditions(url);
        base_call_ajax_request(url, draw_search_results);

    </script>
  {% endblock end_js %}
