<div style='margin-left:190px;' class="cols">
    <span class="fleft lineh42 mright13">用户ID或昵称</span>
    <input id='term' name="term" style='width:260px;'class="inputbox fleft ad-search" type="text" value="" placeholder="请输入用户ID或昵称" />
    <a class='portrait_href' style='line-height:50px;margin-left:100px;cursor: pointer;' id='show_advanced'>高级搜索</a>
	<span class=" lineh42">
      <input name="submit" type="submit" style='margin-left:20px;' class="portrait_button bluebtn" id="commit_search" value="确定" />
    </span>
</div>
<div id="supersearch" style='display:none;'>
    <table class='table table-border bootstrap-datatable'>
        <tr>
            <td class='search_name'>身份分类</td>
            <td>
                <label class="cols-label"><input name="domain" class=" fleft chosebox" type="checkbox" value="作家写手" />作家写手</label>
                <label class="cols-label"><input name="domain" class=" fleft chosebox" type="checkbox" value="专家学者" />专家学者</label>
                <label class="cols-label"><input name="domain" class=" fleft chosebox" type="checkbox" value="草根红人" />草根红人</label>
                <label class="cols-label"><input name="domain" class=" fleft chosebox" type="checkbox" value="宗教人士" />宗教人士</label>
                <label class="cols-label"><input name="domain" class=" fleft chosebox" type="checkbox" value="维权律师" />维权律师</label>
                <label class="cols-label"><input name="domain" class=" fleft chosebox" type="checkbox" value="公知分子" />公知分子</label>
                <label class="cols-label"><input name="domain" class=" fleft chosebox" type="checkbox" value="非公企业主" />非公企业主</label>
                <label class="cols-label"><input name="domain" class=" fleft chosebox" type="checkbox" value="独立媒体人" />独立媒体人</label>
                <label class="cols-label"><input name="domain" class=" fleft chosebox" type="checkbox" value="官方媒体" />官方媒体</label>
                <label class="cols-label"><input name="domain" class=" fleft chosebox" type="checkbox" value="公职人员" />公职人员</label>
                <label class="cols-label"><input name="domain" class=" fleft chosebox" type="checkbox" value="文体明星" />文体明星</label>
                <label class="cols-label"><input name="domain" class=" fleft chosebox" type="checkbox" value="社会公益" />社会公益</label>
                <label class="cols-label"><input name="domain" class=" fleft chosebox" type="checkbox" value="其他" />其他</label>
            </td>
        </tr>
        <tr>
            <td class='search_name'>领域分类</td>
            <td>
                <label class="cols-label"><input name="topic" class=" fleft chosebox" type="checkbox" value="暴恐" />暴恐</label>
                <label class="cols-label"><input name="topic" class=" fleft chosebox" type="checkbox" value="邪教" />邪教</label>
                <label class="cols-label"><input name="topic" class=" fleft chosebox" type="checkbox" value="意识形态" />意识形态</label>
                <label class="cols-label"><input name="topic" class=" fleft chosebox" type="checkbox" value="民生" />民生</label>
                <label class="cols-label"><input name="topic" class=" fleft chosebox" type="checkbox" value="宗教" />宗教</label>
                <label class="cols-label"><input name="topic" class=" fleft chosebox" type="checkbox" value="其他" />其他</label>
               
            </td>
        </tr>
        <tr>
            <td class='search_name'>敏感属性</td>
            <td>
                <span style='margin-left:20px;margin-right:20px;' class="fleft lineh42 mright5 ">政治倾向</span>
                <select  name="politics_val"  class="fleft select-box">
                    <option value=''>不限</option>
                    <option value='左派'>左派</option>
                    <option value='中立'>中立</option>
                    <option value='右派'>右派</option>
                </select>
                <span class="fleft lineh42 mright5 " style="margin-left:20px;margin-right:20px;">敏感词</span>
                <input id="sensi_word" type='text' class="form-control" style='width: 235px;padding:0px; /* font-size:8px; */margin-top:5px;display:inline-block;height:25px' placeholder='多个关键词以空格分隔'>
                <span id="search_keywords_input" style="cursor:pointer;">选择已有敏感词</span>

                <!-- <select style='margin-left:22px;'name="sensi_word" class="fleft select-box"></select> -->
            </td>
        </tr>
        <tr>
            <td class='search_name'>标签信息</td>
            <td>
                <span style='margin-left:20px;margin-right:20px;' class="fleft lineh42 mright5 ">标签类别</span>
                <select name="tag_type"  class="fleft select-box"></select>
                <span class="fleft lineh42 mright5 "  style="margin-left:20px;margin-right:20px;">标签名</span>
                <select name="tag_name" class="fleft select-box"></select>
            </td>
        </tr>
        <tr>
            <td class='search_name'>其他信息</td>
            <td>
                <span style='margin-left:20px;margin-right:12px;' class="fleft lineh42 mright5 ">微话题</span>
                <input name="hashtag" class="inputbox fleft ad-search" type="text" value="" placeholder="请输入微话题" />
                <span style='margin-left:10px;' class="fleft lineh42 mright5 ">关键字</span>
                <input name="keywords_string" class="inputbox fleft ad-search" type="text" value="" placeholder="请输入关键字" />
                <span style='margin-left:10px;margin-right:20px;' class="fleft lineh42 mright5">活跃地点</span>
                <input name="activity_geo" style="width:180px;" class="inputbox fleft ad-search form-control" readonly type="text" value="" data-toggle="city-picker">
            </td>
        </tr>
        <!--
        <tr>
            <td class='search_name'>性格特征</td>
            <td>
                <label class="cols-label"><input name="psycho_status_by_emotion" class=" fleft chosebox" type="checkbox" value="冲动" />冲动</label>
                <label class="cols-label"><input name="psycho_status_by_emotion" class=" fleft chosebox" type="checkbox" value="抑郁" />抑郁</label>
                <label class="cols-label"><input name="psycho_status_by_emotion" class=" fleft chosebox" type="checkbox" value="其他" />其他</label>
            </td>
        </tr>
        <tr>
            <td class='search_name'>语言风格</td>
            <td>
                <label class="cols-label"><input name="psycho_status_by_word" class=" fleft chosebox" type="checkbox" value="批判" />批判</label>
                <label class="cols-label"><input name="psycho_status_by_word" class=" fleft chosebox" type="checkbox" value="其他" />其他</label>
            </td>
        </tr>
        -->
    </table>
</div>
<div>
    
    <span id="al_choose" style="float:left;margin-top:0px;display:none">已选条件:</span>
    <div id="conditions" style='float:left;margin-top:0px;'></div>
    <br>
    <div id='contrast_block' style="margin-top:10px;display:none;">
        <span style="float:left;margin-top:0px">已选对比用户:</span>
        <div id="contrast_chosen" style='float:left;margin-top:0px;'></div>
    </div>
    <div id="search_result" style="margin-top:0px;"></div>
</div>


    <div class="modal fade" id="search_deit_words" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document" style="width:900px;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><!-- <span aria-hidden="true">&times;</span> --></button>
            <h4 class="modal-title" id="myModalLabel">选择敏感词</h4>
          </div>
          <div class="modal-body">
            <div id="modal_search_show_key">
            </div>
<!--             <span>群体名称：</span>
            <span id="so_re_group_name" style="margin-left:10px;margin-right:20px;"></span>
            <span style="margin-left:10px;">终止时间：</span>
            <input id="so_re_end_time" type='text' style='width:145px; display:inline-block;height:25px'> -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="choose_key_button()">确认</button>
          </div>
        </div>
      </div>
    </div>

<script src= '/static/custom/js/tbase.js'></script>
<script >
$('#search_keywords_input').click(function(e){
          $('#search_deit_words').modal();
});
function draw_modal(data){
      console.log(data.length)
      var i=0;
      var html = '';
      html += '<table id="search_sensiwords_table" >';
      html += '<thead><th>111</th><th>111</th><th>111</th><th>111</th><th>111</th><th>111</th></thead><tbody>';
      html += '<tr>'
      for(var d in data){
        i=i+1;
        if(data[d].length>6){
          //html += '<td title='+data[d]+'>'+'<input type="checkbox" name="check_words">'+data[d].substr(0,6)+'...</td>'
          html += '<td title='+data[d]+'>'+'<input type="checkbox" name="check_words">'+data[d].substr(0,6)+'...</td>'
        }else{
          html += '<td title='+data[d]+'>'+'<input type="checkbox" name="check_words">'+data[d]+'</td>'
        }
        if((i%6 == 0 ) && (i != data.length)){
          html += '</tr><tr>'
        }
      }
      html += '<td>dd</td></tr></tbody></table>';
      $("#modal_search_show_key").append(html);
      $('#search_sensiwords_table').dataTable({
        "sDom": "<'row'<'col-md-12'f>r>t",
       "sPaginationType": "bootstrap",
       "bSort": false,
       "oLanguage": {
           "sLengthMenu": "_MENU_ 每页"
       }

      });
      $('#search_sensiwords_table th ').css('display', 'none')
}
function choose_key_button(){
  var words_origin = $('#sensi_word').val();
  // if(check_words.length != 0){
  //   console.log(check_words)
  //   var already_words = $('#so_keywords').val().toString().split(" ");
  //   already_words.splice(jQuery.inArray(check_words,already_words),1); 
  //   var words = already_words.splice(jQuery.inArray(check_words,already_words),1); 

  //   //var words = $('#so_keywords').val().toString().split(" ")- check_words;
  // }else{
  //   var words = words_origin;
  // }
  check_words = [];
  $('[name="check_words"]:checked').each(function(){
    var key = $(this).parent().attr("title");
    check_words.push(key);
  });
 var words = $('#sensi_word').val();
 if(words != ''){words += ' ';}
 words += check_words.join(" ");
 $('#sensi_word').val(words)
}
  function call_sync_ajax_request(url, method, callback){
    $.ajax({
      url: url,
      type: method,
      dataType: 'json',
      async: false,
      success:callback
    });
  }
      call_sync_ajax_request("/social_sensing/get_admin_sensi_words/", 'GET', draw_modal);


</script>




