{% extends "index/base.html" %} 
{% block title %}人物检索{% endblock title %}
{% block subtitle %}人物检索{% endblock subtitle %}

{% block custom_css %}
<style>
    .dataTables_filter{text-align:right;margin-bottom:5px;}
    .dataTables_paginate{margin-top:-10px;margin-bottom:-20px;}
    .mouse {border:#d0d0d0 solid 1px;}
</style>
{% endblock custom_css %}

{% block body %}
{% include "index/search/search_results_base.html" %}
{% endblock %}

{% block end_js %}
<script type="text/javascript" src="/static/custom/js/search_result.js"></script> 
<script src="/static/custom/js/result_table.js"></script>
{% endblock end_js %}
