{% extends "index/base.html" %} 
{% block title %}重点人物监控{% endblock title %}
{% block subtitle %}重点人物监控{% endblock subtitle %}
{% block custom_css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/content/css/bootmetro-tiles.css">
<link rel="stylesheet" type="text/css" href="/static/custom/css/group.css">
<style>
       .metro-sections {margin-top:10%;margin-left:20%;}
</style>
{% endblock custom_css  %}
{% block body %}
     <div class="metro span12">
        <div class="metro-sections">
           <div id="section1" class="metro-section tile-span-4">
                <a class="tile wide imagetext bg-color-blueDark" href="/index/group_task/">
                     <div class="image-wrapper">
                        <img src="/static/content/img/My Apps.png" />
                     </div>
                     <div class="app-label">系统监控管理</div>
                 </a>
                <a class="tile wide imagetext bg-color-blueDark" data-toggle="modal" data-target="#upload_file" href="/index/tag_search/">
                     <div class="image-wrapper">
                        <img src="/static/content/img/My Apps.png" />
                     </div>
                     <div class="app-label">上传用户监控</div>
                </a>
                <a class="tile wide imagetext bg-color-blueDark" href="/index/group_search/">
                     <div class="image-wrapper">
                        <img src="/static/content/img/My Apps.png" />
                     </div>
                     <div class="app-label">系统用户监控</div>
                 </a>
             </div>
         </div>
     </div>
	<!--
	<div class="circle" data-toggle="modal" data-target="#upload_file" id="advanced" style="margin-left:450px;margin-top:20px;">
		<a class="wordtitle">上传文件</a>
	</div>
	<div class="circle" id="" style="margin-left:250px;float:left;">
		<a class="wordtitle" href="/index/group_search/">自定义监控</a>
	</div>
	<div class="circle" id="" style="margin-left:200px;float:left;">
		<a class="wordtitle" href="/index/group_task/">监控管理</a>
	</div>
	<div class="" style="width:60%;height:100%;float:left;">
		<img src="/static/custom/images/users.png"/>
	</div>
	<div style="width:40%;margin:100px 0;float:left;">
		<button class="btn btn-large btn-block btn-primary btnsize font20 margint40" type="button" data-toggle="modal" data-target="#upload_file">上传文件</button>
		<a class="btn btn-large btn-block btn-primary btnsize font20 margint20" type="button" href="/index/group_search/">群组搜索</a>
		<a class="btn btn-large btn-block btn-primary btnsize font20 margint20" type="button" href="/index/group_task/">群组管理</a>
	</div>
	-->

<!--文件上传模态框-->
<!-- Modal -->
<div class="modal fade" id="upload_file" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <h4 class="modal-title" id="myModalLabel">上传文件</h4>
      </div>
      <div class="modal-body">
        <form>
			<fieldset style="margin:10px 0 0 150px;">
				<label>群组名称</label>
				<input type="text" placeholder="Type something…">
			</fieldset>
			<fieldset style="margin:10px 0 0 150px;">
				<label style="margin-right:25px;">备 注 </label>
				<input type="text" placeholder="Type something…">
			</fieldset>
			<form enctype="multipart/form-data" method="post"  >
				<input type="file" name="fileUp" style="margin-left:150px;height:23px;" id="file-upload" onchange="handleFileSelect(this.files)">  
			</form>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default lineh14" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary lineh14">确定</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block end_js%}
    <script src="/static/custom/js/group.js/"></script>
{% endblock end_js%}
