{% extends "index/base.html" %} 
{% block title %}概要预览{% endblock title %}
{% block subtitle %}概要预览{% endblock subtitle %}
{% block custom_css %}
{{ super() }}
	<link rel="stylesheet" href="/static/custom/css/overview.css" media="screen" />
    <link rel="stylesheet" href="/static/custom/css/jelevator.css"  media="screen" />
	<style>
	.box{width:310px;height:300px;float:left;}
    .important{}
    #page {height:2900px;}
    #basic span {color:red;}
    /*h2 {font-family:'微软雅黑';}*/
	li{list-style-type:none}
	.pageList ul li{float:left;margin-left:20px;}
	</style>
{% endblock custom_css  %}



{% block body %}
  <div id="page">
        <div id="content">
            <h2>基本信息</h2>
            <div id='basic'>
				<!--
                <p style="margin-top:30px;margin-left:10px;">系统总共有<span id="totalNumber"></span>人。其中敏感人物有<span id="sensitiveN"></span>人，高影响力有<span id="hinfluence"></span>人。</p>
                <p style="margin-top:30px;margin-left:10px;">今日，系统推荐中总共有<a href='/index/recommend_in/' target='_blank'><span id="storeNumber"></span></a>人还未入库。正在监控<a href='/index/group_task/' target='_blank'><span id="groupN"></span></a>个群组，总计
                <a href='/index/group_task' target='_blank'><span id="gtotal"></span></a>人。今日新增敏感词<a href='/index/words_recommend' target='_blank'><span id="wordsN"></span></a>个。</p>
				-->
				<p style="margin-top:30px;margin-left:10px;">系统总共有<span id="totalNumber"></span>人。其中敏感人物有<span id="sensitiveN"></span>人，高影响力有<span id="hinfluence"></span>人。</p>
                <p style="margin-top:30px;margin-left:10px;">今日，系统推荐中总共有<a href='/index/recommend_in/' target='_blank'><span id="storeNumber"></span></a>人还未入库。正在进行<a href='/index/group_identify/' target='_blank'><span id="groupN"></span></a>个群组发现任务，
                <a href='/index/group_list/' target='_blank'><span id="gtotal"></span></a>个群体正在分析。
				
			</div>
            <hr>
            <h2>统计信息</h2>
            <div class="count" style="height:300px;margin-top:10px;">
				<div id="sensitiveCloud" class="box"></div>
				<div id="psychologyState" class="box"></div>
				<div id="hashtagCloud" class="box"></div>
			</div>
			
			<hr style="width:970px;">
			<h2 >领域重点人物</h2>
            <span style="float:right;cursor:pointer;margin-top:-30px;margin-right:50px;" type="button" data-toggle="modal" data-target="#more_domain"><u>查看更多</u></span>
            <div class="important" id="domain_portrait"></div>
			<hr>
            <h2>话题重点人物</h2>
			<!--
            <div style="float:right;cursor:pointer;margin-top:-30px;margin-right:50px;" type="button" data-toggle="modal" data-target="#more_topic"><u>查看更多</u></div>
			-->
			<div class="important" id="topic_portrait"></div>
            <div class="clear"></div>
			
			<hr>
			
            <h2>排名信息</h2>
      <div style="padding:10px;">
				<span style='font-size:16px;'>影响力排名</span>
				<span type="button" data-toggle="modal" data-target="#rank_influence" style='font-size:16px;margin-left:140px;cursor:pointer'><u>查看更多</u></span>
				<span style="margin-left:30px;font-size:16px;">重要度排名</span>
				<span data-toggle="modal" type="button"data-target="#rank_important"  style='font-size:16px;margin-left:130px;cursor: pointer'><u>查看更多</u></span>
				<span style="margin-left:35px;font-size:16px;">活跃度排名</span>
				<span type="button"data-toggle="modal" data-target="#rank_activeness" style='font-size:16px;margin-left:130px;cursor: pointer'><u>查看更多</u></span>
			</div>

			<div class="table-responsive"id='top_influence' style='overflow-x:hidden;width:300px;height:250px;float:left;'>
			</div>
			<div class="table-responsive"id='importance' style='overflow-x:hidden;width:300px;height:250px;float:left;margin-left:25px;'>
			</div>
			<div class="table-responsive"id='top_activeness' style='overflow-x:hidden;width:300px;margin-right:20px;height:250px;float:left;margin-left:25px;'>
			</div>

			<div style="padding:10px;">
				<span style='font-size:16px;;'>敏感度排名</span>
				<span type="button"data-toggle="modal" data-target="#rank_sensitive" style='font-size:16px;margin-left:140px;cursor: pointer'><u>查看更多</u></span>
				<span style="margin-left:30px;font-size:16px;;">转发量排名</span>
				<span type="button"data-toggle="modal" data-target="#rank_retweeted"  style='font-size:16px;margin-left:130px;cursor: pointer'><u>查看更多</u></span>
				<span style="margin-left:35px;font-size:16px;">评论量排名</span>
				<span data-toggle="modal" type="button"data-target="#rank_comment"  style='font-size:16px;margin-left:130px;cursor: pointer'><u>查看更多</u></span>
			</div>
			<div class="table-responsive" id='top_sensitive' style='overflow-x:hidden;width:300px;height:250px;float:left;'>
			</div>
			<div class="table-responsive" id='sensitive_hot_retweet' style='overflow-x:hidden;width:300px;height:250px;float:left;margin-left:25px;'>             
			</div>
			<div class="table-responsive" id='sensitive_hot_comment' style='overflow-x:hidden;width:300px;height:250px;margin-right:20px;float:left;margin-left:25px;'>              
			</div>
			<div style="padding:10px;">
				<span style=';font-size:16px'>发布敏感微博人排名</span>
				<span type="button"data-toggle="modal" data-target="#sensitive_rank" style='font-size:16px;margin-left:60px;cursor: pointer'><u>查看更多</u></span>
				<span style='margin-left:40px;font-size:16px;;'>敏感地点排名</span>
				<span type="button"data-toggle="modal" data-target="#rank_geo" style='font-size:16px;margin-left:125px;cursor: pointer'><u>查看更多</u></span>
			</div>
			<div class="table-responsive" id='top_user_sensitive' style='overflow-x:hidden;width:300px;height:250px;float:left'>
			</div>
			<div class="table-responsive" id='top_geo_sensitive' style='overflow-x:hidden;width:300px;height:250px;float:left; margin-left:25px;'>
			</div>

	        <div class="clear"></div>
			<hr>
            <h2>热门微博</h2>
            <div class="count" style="height:300px;margin-top:10px;width:100%;">
				<div class="tang-scrollpanel-content" style="margintop:10px;">
					<div id='sensitive_hot_weibo' style='overflow-x:hidden;float:left;'>
						<div id="sensitive_hot_weibo_result" style="float:left;width:100%;"></div>
						<div id="pageGro" class="cb" style="display:none;float:left;width:600px;height:60px;margin-left:200px;margin-top:40px;line-height:23px;">
							<span class="pageUp" style="float:left;">上一页</span>
							<span class="pageList" style="float:left;">
								<ul>
									<li>1</li>
									<li>2</li>
									<li>3</li>
									<li>4</li>
									<li>5</li>
								</ul>
							</span>
							<span class="pageDown" style="margin-left:20px;cursor:pointer;">下一页</span>
						</div>	       
					</div>
				</div>
			</div>
		</div>
    </div>
	
<!--模态框-->
<div class="modal fade" id="more_domain" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width:1000px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <h4 class="modal-title" id="myModalLabel">领域重点用户</h4>
      </div>
      <div class="modal-body" id='domain_more_portrait'>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="more_topic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width:1000px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <h4 class="modal-title" id="myModalLabel">话题重点用户</h4>
      </div>
      <div class="modal-body" id="topic_more_portrait">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="rank_influence" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <h4 class="modal-title" id="myModalLabel">影响力排名</h4>
      </div>
      <div class="modal-body" id='more_influence'>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="rank_important" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <h4 class="modal-title" id="myModalLabel">重要度排名</h4>
      </div>
      <div class="modal-body" id='more_important'>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="rank_activeness" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <h4 class="modal-title" id="myModalLabel">活跃度排名</h4>
      </div>
      <div class="modal-body" id='more_activeness'>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="rank_sensitive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <h4 class="modal-title" id="myModalLabel">敏感度排名</h4>
      </div>
      <div class="modal-body" id='more_sensitive'>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="rank_retweeted" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <h4 class="modal-title" id="myModalLabel">转发量排名</h4>
      </div>
      <div class="modal-body" id='more_retweeted'>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="rank_comment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <h4 class="modal-title" id="myModalLabel">评论量排名</h4>
      </div>
      <div class="modal-body" id='more_comment'>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="sensitive_rank" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <h4 class="modal-title" id="myModalLabel">发布敏感微博人排名</h4>
      </div>
      <div class="modal-body" id='more_sensitive_rank'>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="rank_geo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <h4 class="modal-title" id="myModalLabel">敏感地点排名</h4>
      </div>
      <div class="modal-body" id='more_geo'>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>
{% endblock body %}

{% block end_js %}

  <script  src="/static/custom/js/overview.js"></script>
{% endblock end_js%}

