{% extends "index/base.html" %} 
{% block title %}个人属性{% endblock title %}
{% block subtitle %}个人属性{% endblock subtitle %}
{% block custom_css %}
{{ super() }}
	<link rel="stylesheet" href="/static/custom/css/overview.css" media="screen" />
    <link rel="stylesheet" href="/static/custom/css/jelevator.css"  media="screen" />
	<link rel="stylesheet" href="/static/custom/css/personal.css" media="screen" />
	<style>
	.box{width:310px;height:300px;float:left;}
	li{list-style:none;}
	</style>
{% endblock custom_css  %}
{% block body %}

	<div id="page">
		<div class="portait" style="font-family:'Microsoft YaHei UI'; font-size:16px;margin-left:20px;">
			<div class="PortraitImg" ><img id="portraitImg" src="http://tp2.sinaimg.cn/1878376757/50/0/1" alt="" class="img-thumbnail"></div>
            <div class="nickname">
                <span  id="nickname" class="red"></span>
            </div>
			<div style="text-align:left;height:30px;">
				<a id="tag" target='_blank' style="cursor:pointer;">ta的个性标签</a>&nbsp;&nbsp;
				<a id="homepage" target='_blank' style="cursor:hand;">ta的微博主页</a>&nbsp;&nbsp;
				<a id="contact" target='_blank' style="cursor:hand;">跟ta相关的人</a>
			</div>
			<div class="power" style="font-size:13px;">
				<span class="activePower lightw">活跃度：</span><span class=" red" id="APnum">100</span>（No.<span id="APrank"></span>/<span id="APsum"></span>）
				<span class="importantPower lightw">重要度：</span><span class=" red" id="IPnum">100</span>（No.<span id="IPrank"></span>/<span id="IPsum"></span>）
				<span class="influencePower lightw">影响力：</span><span class=" red" id="FPnum">100</span>（No.<span id="FPrank"></span>/<span id="FPsum"></span>）
				<span class="sensitivePower lightw">敏感度：</span><span class=" red" id="SPnum">100</span>（No.<span id="SPrank"></span>/<span id="SPsum"></span>）
			</div>
            <div class="PersonPre"><span class="lightw">个人描述：</span><span class="" style="font-family: "宋体";" id="portraitDetail">【请勿关注此账号】此账号信息由微博系统自动发出，并无人工管理。</sapn></div>
		</div>
		<hr>
        <div id="content">
            <h2>基本信息</h2>
			<div class="basic_information" style="margin-top:10px;">
                <div class="clearfix">
                    <div class="cols">
						<span class="pt_title">用户ID</span>
						<span class="pt_detail" id="userId">1828183230</span>
						<span class="pt_title">注册地</span>
						<span class="pt_detail" id="userLocation">江苏 苏州</span>
						<span class="pt_title">性别</span>
						<span class="pt_detail" id="userGender">男</span>
                    </div>    
					<div class="cols">
						<span class="pt_title">粉丝数</span>
						<span class="pt_detail" id="userFans">21663</span>
						<span class="pt_title">关注数</span>
						<span class="pt_detail" id="userFriend">470</span>
						<span class="pt_title">在线方式</span>
						<span class="pt_detail" id="userOnline">weibo.com</span>
					</div>
                    <div class="cols">
                        <span class="pt_title">领域</span>
                        <span class="pt_detail" id="userDomain" ></span>
                        <span class="pt_title">话题</span>
                        <span class="pt_detail" id="userTopic" ></span>
                    </div>
				</div>
			</div>
            <hr>
            <h2>时空分析</h2>
            <div style="height:300px;width:900px;margin-top:20px;">
                <div id="influence_chart" style="float:left;width:50%;height:100%;"></div>
                <div id="weiboTime"  style="float:left;width:50%;height:100%;"></div>
            </div>    
            <div style="text-align:center;width:100%;font-size:20px;">一周活动轨迹</div>
			<div class="clearfix course_nr">
	<ul class="course_nr2">
		<li>
			<div class="shiji">
				<p class="ico" id="d1" >1993</p>
				<p  id="city1">内容描述1。</p>
			</div>
		</li>
		<li>
			<div class="shiji">
				<p class="ico" id="d2" >1999</p>
				<p  id="city2">内容描述2；</p>
			</div>
		</li>
		<li>
			<div class="shiji">
				<p class="ico" id="d3" >2003</p>
				<p  id="city3">内容描述3</p>
			</div>
		</li>
		<li>
			<div class="shiji">
				<p class="ico" id="d4" >2007</p>
				<p  id="city4">内容描述4</p>
			</div>
		</li>
		<li>
			<div class="shiji">
				<p class="ico" id="d5" >2008</p>
				<p  id="city5">内容描述5</p>
			</div>
		</li>
		<li>
			<div class="shiji">
				<p class="ico" id="d6" >2009</p>
				<p  id="city6">内容描述6</p>
			</div>
		</li>
		<li>
			<div class="shiji">
				<p class="ico" id="d7" >2013</p>
				<p  id="city7">内容描述7</p>
			</div>
		</li>
	</ul>
</div>
			<hr>
			<h2 >微博分析</h2>
			<div id="weibo_text" style="height:300px;width:900px;margin-top:20px;font-size:10px;background-color:whitesmoke;overflow-y:auto;margin-left:auto;margin-right:auto;">
				 <div style="margin-left:20px;float:left;">
					<span >当前选择日期</span>
					<span id="date_zh" value="" >09-01</span>
				</div>
				<div style="float:left;margin-left:10px;width:200px;">
					<span>时间段</span>
					<span id="time_zh" value="00:00:00">00:00-04:00</span>
				</div>
				<div id="weibo_content" style="width:900px;float:left;">eftretgreytrytrytr</div>
			</div>
			<hr>
            <h2>交互分析</h2>
            <div class="clear" style= "height:260px;margin-top:20px;">
                <div style="padding:10px;">
                    <span style='font-size:16px;color:#777'>转发排名</span>
                    <span type="button" data-toggle="modal" data-target="#rank_repost" style='font-size:16px;margin-left:140px;cursor:pointer'><u>查看更多</u></span>
                    <span style="margin-left:50px;font-size:16px;color:#777">被转发排名</span>
                    <span data-toggle="modal" type="button"data-target="#rank_retweeted"  style='font-size:16px;margin-left:135px;cursor: pointer'><u>查看更多</u></span>
                    <span style="margin-left:45px;font-size:16px;color:#777">@排名</span>
                    <span type="button"data-toggle="modal" data-target="#rank_at" style='font-size:16px;margin-left:150px;cursor: pointer'><u>查看更多</u></span>
                </div>	
                <div class="table-responsive"id='repost' style='overflow-x:hidden;width:300px;height:250px;float:left;'>
                </div>
                <div class="table-responsive"id='retweeted' style='overflow-x:hidden;width:300px;height:250px;float:left;margin-left:25px;'>
                </div>
                <div class="table-responsive"id='top_at' style='overflow-x:hidden;width:300px;height:250px;float:left;margin-left:25px;'>
                </div>
            </div>
			<hr style="width:970px;">
			
            <h2>思想分析</h2>
            <div style="width:900px;height:300px;margin-top:20px;">
				<div>
					<div style="height:380px;width:450px;float:left;">
						<div id="radar_domain" style="height:350px;width:450px;"></div>
					</div>
					<div style="height:380px;width:450px;float:right;">
						<div id="pie_emotion" style="height:350px;width:450px;"></div>
					</div>
				</div>	
			</div>
			
            
        </div>
    </div>
	
<!--个人标签-->
<div id="float-wrap" class="hidden"></div>
<div id="tagInfo" class="hidden" style="position: fixed;margin-top: -200px;padding-bottom:20px;left: 70%;top: 50%;z-index: 1005;width: 420px;background: #FFF none repeat scroll 0% 0%;border: 1px solid #999;margin-left: -460px;font_family: "Microsoft YaHei UI";">
	<h3 class="title" style="margin-top:10px;padding-left:30px;padding-bottom:10px;border-bottom:solid 1px lightgrey;">标签信息<a href="javascript:void(0)" class="Tagclose" id="close"></a></h3>
	<div class="m-wrap" style="margin-top:30px;font-size:16px;" >
		<div id="ptag" class="fleft" style="width:420px;">
			<div class="tagClo fleft" ><span style="color:red;">test1</span>:<span class="tagbg"><span>tag1<span><a id="delIcon"></a></span></div>
			<div class="tagClo fleft" ><span style="color:red;">test1</span>:<span class="tagbg"><span>tag1<span><a id="delIcon"></a></span></div>
			<div class="tagClo fleft" ><span style="color:red;">test1</span>:<span class="tagbg"><span>tag1<span><a id="delIcon"></a></span></div>
			<div class="tagClo fleft" ><span style="color:red;">test1</span>:<span class="tagbg"><span>tag1<span><a id="delIcon"></a></span></div>
			<div class="tagClo fleft" ><span style="color:red;">test1</span>:<span class="tagbg"><span>tag1<span><a id="delIcon"></a></span></div>
		</div>
		<div id="addM" style="margin-top:20px;border-top:solid 1px lightgrey;width:418px;padding-top:20px;padding-right:25px;" class="fleft">
			<div >
				<span style="margin-left:30px;">选择类别：</span>
				<span id="attribute_name_zh" style="margin-left:10px">
					
				</span>
			</div>
			<div style="margin-top:20px;">
				<span style="margin-left:30px">选择标签：</span>
				<span id="attribute_value_zh" style="margin-left:10px">
					
				</span>
			</div>
			<span style=""><button class="btn btn-primary btn-sm" style="width:80px;height:30px;margin-top:30px;margin-left:30px;float:right;" id="add_person_tag_button" title="确定选择" onclick="add_person_tag()">添加</button></span>
		</div>
	</div>
</div>
<!--模态框-->
<div class="modal fade" id="rank_repost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <h4 class="modal-title" id="myModalLabel">转发排名</h4>
      </div>
      <div class="modal-body" id='more_repost'>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="rank_retweeted" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <h4 class="modal-title" id="myModalLabel">被转发排名</h4>
      </div>
      <div class="modal-body" id='more_retweeted'>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="rank_at" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <h4 class="modal-title" id="myModalLabel">转发排名</h4>
      </div>
      <div class="modal-body" id='more_at'>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
{% block end_js %}
  <script  src="/static/scripts/jquery-jelevator-1.0.3.min.js"></script>
  <script type="text/javascript">
    jQuery(function($){
        $("h2").jElevator({
            howTopButton: true,
            showBottomButton: true,
            showSectionsMenu: true
        });
    });
	$("#tag").off("click").click(function(){
		$("#float-wrap").removeClass("hidden");
		$("#tagInfo").removeClass("hidden");
		return false;
	});
	$(".Tagclose").off("click").click(function(){
		$("#float-wrap").addClass("hidden");
		$("#tagInfo").addClass("hidden");
		return false;
	});

    var uid = {{ uid }};
    var contact_url = "/index/contact/?uid=" + uid;
    $('#contact').attr('href', contact_url);
    var homepage_url = "http://weibo.com/u/" + uid;
    $('#homepage').attr('href', homepage_url);
</script>
 <script  src="/static/custom/js/personal.js"></script>
 {% endblock end_js%}

