{% extends "index/base.html" %} 
{% block title %}个人属性{% endblock title %}
{% block subtitle %}个人属性{% endblock subtitle %}
{% block custom_css %}
{{ super() }}
	<link rel="stylesheet" href="/static/custom/css/overview.css" media="screen" />
    <link rel="stylesheet" href="/static/custom/css/jelevator.css"  media="screen" />
	<link rel="stylesheet" href="/static/custom/css/personal.css" media="screen" />
	<style>
	.box{width:310px;height:300px;float:left;}
	li{list-style:none;}
	</style>
{% endblock custom_css  %}
{% block body %}

	<div id="page">
		<div class="portait" style="font-family:'Microsoft YaHei UI'; font-size:16px;margin-left:20px;">
			<div class="PortraitImg" ><img id="portraitImg" src="http://tp2.sinaimg.cn/1878376757/50/0/1" alt="" class="img-"></div>
			<div style="text-align:left;height:30px;margin-top:20px;">
				<a id="tag" target='_blank' style="cursor:pointer;">ta的个性标签</a>&nbsp;&nbsp;
				<a id="homepage" target='_blank' style="cursor:hand;">ta的微博主页</a>&nbsp;&nbsp;
				<a id="contact" target='_blank' style="cursor:hand;">跟ta相关的人</a>
			</div>
			<div class="power">
				<span class="activePower lightw">活跃度：</span><span class=" red" id="APnum">100</span>（No.<span id="APrank"></span>/<span id="APsum"></span>）
				<span class="importantPower lightw">重要度：</span><span class=" red" id="IPnum">100</span>（No.<span id="IPrank"></span>/<span id="IPsum"></span>）
				<span class="influencePower lightw">影响力：</span><span class=" red" id="FPnum">100</span>（No.<span id="FPrank"></span>/<span id="FPsum"></span>）
			</div>
		</div>
		<hr>
        <div id="content">
            <h2>基本信息</h2>
			<div class="basic_information" style="margin-top:10px;">
				<ul class="clearfix">
					<li class="li_1">
						<span class="pt_title">用户ID</span>
						<span class="pt_detail" id="userId">1828183230</span>
					</li>
					<li class="li_1">
						<span class="pt_title">注册地</span>
						<span class="pt_detail" id="userLocation">江苏 苏州</span>
					</li>
					<li class="li_1">
						<span class="pt_title">性别</span>
						<span class="pt_detail" id="userGender">男</span>
					</li>
			<!--
			<li class="li_1">
				<span class="pt_title">领域</span>
				<span class="pt_detail" id="userDomain" ></span>
			</li>
			<li class="li_1">
				<span class="pt_title">话题</span>
				<span class="pt_detail" id="userTopic" ></span>
			</li>
			-->
					<li class="li_1">
						<span class="pt_title">粉丝数</span>
						<span class="pt_detail" id="userFans">21663</span>
					</li>
					<li class="li_1">
						<span class="pt_title">关注数</span>
						<span class="pt_detail" id="userFriend">470</span>
					</li>
					<li class="li_1">
						<span class="pt_title">在线方式</span>
						<span class="pt_detail" id="userOnline">weibo.com</span>
					</li>
				</ul>
			</div>
            <hr>
            <h2>时空分析</h2>
			<div id="influence_chart" style="height:300px;width:900px;"></div>
			<div style="text-align:center;width:100%;font-size:20px;">一周轨迹活动</div>
			<div class="clearfix course_nr">
	<ul class="course_nr2">
		<li>
			<div class="shiji">
				<p class="ico" id="d1" >1993</p>
				<p  id="city1">内容描述1。</p>
			</div>
		</li>
		<li>
			<div class="shiji">
				<p class="ico" id="d2" >1999</p>
				<p  id="city2">内容描述2；</p>
			</div>
		</li>
		<li>
			<div class="shiji">
				<p class="ico" id="d3" >2003</p>
				<p  id="city3">内容描述3</p>
			</div>
		</li>
		<li>
			<div class="shiji">
				<p class="ico" id="d4" >2007</p>
				<p  id="city4">内容描述4</p>
			</div>
		</li>
		<li>
			<div class="shiji">
				<p class="ico" id="d5" >2008</p>
				<p  id="city5">内容描述5</p>
			</div>
		</li>
		<li>
			<div class="shiji">
				<p class="ico" id="d6" >2009</p>
				<p  id="city6">内容描述6</p>
			</div>
		</li>
		<li>
			<div class="shiji">
				<p class="ico" id="d7" >2013</p>
				<p  id="city7">内容描述7</p>
			</div>
		</li>
	</ul>
</div>
			<hr>
			<h2 >微博分析</h2>
            <div id="weiboTime"  style="height:349px;width:900px;margin-top:20px;" ></div>
			<div id="weibo_text" style="height:300px;width:900px;margin-top:20px;font-size:10px;background-color:whitesmoke;overflow-y:auto;margin-left:auto;margin-right:auto;">
				 <div style="margin-left:20px;float:left;">
					<span >当前选择日期</span>
					<span id="date_zh" value="" >09-01</span>
				</div>
				<div style="float:left;margin-left:10px;width:200px;">
					<span>时间段</span>
					<span id="time_zh" value="00:00:00">00:00-04:00</span>
				</div>
				<div id="weibo_content" style="width:900px;float:left;">eftretgreytrytrytr</div>
			</div>
			<hr>
            <h2>交互分析</h2>
			<div class="" id=""></div>
            <div class="clear"></div>
			
			<hr>
			
            <h2>思想分析</h2>
            <div style="width:900px;"><h4 class="page-header"style='margin-top:10px'>倾向性和心理状态</h4>
				<div>
					<div style="height:380px;width:450px;float:left;margin-top:-20px">
						<div style="font-size:16px">倾向性</div>
						<div id="radar_domain" style="height:350px;width:450px;"></div>
					</div>
					<div style="height:380px;width:450px;float:right;margin-top:-20px">
						<div style="font-size:16px">心理状态</div>
						<div id="pie_emotion" style="height:350px;width:450px;"></div>
					</div>
				</div>	
			</div>
			
            
        </div>
    </div>
	
<!--模态框-->

{% endblock body %}
{% block end_js %}
  <script  src="/static/scripts/jquery-jelevator-1.0.2.min.js"></script>
  <script type="text/javascript">
    jQuery(function($){
        $("h1,h2").jElevator({
            howTopButton: true,
            showBottomButton: true,
            showSectionsMenu: true
        });
    });
 </script>
 <script  src="/static/custom/js/personal.js"></script>
{% endblock end_js%}

