{% extends "index/base.html" %} 
{% block title %}查看人物画像{% endblock title %}
{% block subtitle %}查看人物画像{% endblock subtitle %}

{% block custom_css %}
  <!--   <link href="/static/custom/css/search.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="/static/custom/css/overview.css" media="screen" />
<link  type="text/css" href="/static/personal/css/style.css" rel="stylesheet"/>
{% endblock custom_css %}
   {% block custom_js %}
<script src='/static/custom/js/identify_table.js'></script>
   {% endblock custom_js %}
{% block body %}
<div id='page'>
{% include "index/search/search_base.html" %}
</div>
{% endblock %}
{% block end_js %}
<script src="/static/js/portrait/search_portrait.js"></script>
<script>
function call_ajax_request(url, callback){
    $.ajax({
        url: url,
        type: 'get',
        dataType: 'json',
        async: false,
        success: callback
    });
}
var url = '/search/portrait_search/?stype=1';
call_ajax_request(url, draw_search_results);
</script>
{% endblock end_js %}
