{% extends "index/base.html" %} 
{% block title %}敏感人物属性{% endblock title %}
{% block subtitle %}敏感人物属性{% endblock subtitle %}
{% block custom_css %}
{{ super() }}
	<link rel="stylesheet" href="/static/custom/css/overview.css" media="screen" />
    <link rel="stylesheet" href="/static/custom/css/jelevator.css"  media="screen" />
	<link rel="stylesheet" href="/static/custom/css/sensitive_person.css" media="screen" />
	<style>
	.box{width:310px;height:300px;float:left;}
	li{list-style:none;}
	</style>
{% endblock custom_css  %}
{% block body %}
<div id="page">
		<div id = "portrait_info" class="portait" style="font-family:'Microsoft YaHei UI'; font-size:16px;margin-top:10px">
		</div>
            <br />
        <div id = "statictics_info" style="float:left;margin-top:20px;">
		</div>

		<div style="float:left">
			<hr />
			<h2>活动信息</h2>
			<div id="influence_chart_info" style="height:300px;width:730px;float:left;"></div>
			<div id="location_7_info" style="float:right">			
			</div>
		</div>

		<div id="language" style="float:left;width:990px;min-height:300px">
			<hr />
			<h2>语言属性</h2>
			<div id="today_sensitive_word" style="margin:20px;font-size:18px;"></div>
			<div id="language_left" style="float:left">
			<div>等级:
			<select name="level" id="sensi_word_level" style="width:90px; margin-right:5px;">   
				<option value="0">所有等级</option> 
		        <option value="1">level 1</option>   
		        <option value="2">level 2</option>   
		        <option value="3">level 3</option>           
		    </select>
		    类别:
		    <select name="classify" id="sensi_word_class" style="width:90px; margin-right:5px;"> 
		        <option value="">所有类别</option>   
		        <option value="politics">政治</option>   
		        <option value="military">军事</option>   
		        <option value="law">思想</option>
		        <option value="ideology">意识形态</option>
		     	<option value="democracy">民主</option>	                 
		    </select>
		    <button id="show_sensi_word" style="min-width: 50px;">确定</button></div>
		   	<!--敏感词  -->
		    <div id="sensi_word_table"></div>
		    </div>
		    <div id="language_right" style="float:right">
		    <div id="sensiword_hashtag">
			    <div style="width:250px;float:right;">
			    	<span id="hash_word_detail" style="margin-right: 80px; margin-top: 10px;float:right;">
			    		<a data-toggle="modal" data-target="#hash_detail">详情</a>
			    	</span>
			    	<span style="font-size:18px;float:left;"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;hashtag云</strong></span>
			    	<div id="hashtag_cloud" style="width:320px;height:300px;float:left;margin-left:-20px;z-index:20"></div>
			    	
			    </div>
			    <div style="width:250px;float:right;">
			    	<span id="hash_word_detail" style="margin-right: 20px; margin-top: 10px;float:right;">
			    		<a data-toggle="modal"  data-target="#sensi_detail">详情</a>
			    	</span>
			    	<span style="font-size:18px;float:left;"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;敏感词云</strong></span>
					<div id="sensi_word_cloud" style="width:320px;height:300px;float:left;margin-left:-20px;"></div>
			    	<br>
			    </div>	
		    </div> 
		    </div>
		</div>

		<div id="social_info" style="float:left">
			<hr />
			<h2>交互信息</h2>
			            <div class="clear" style= "margin-top:20px;">
                <div style="padding:10px;">
                    <span style='font-size:16px;color:#777'>转发排名</span>
                    <span type="button" data-toggle="modal" data-target="#rank_repost" style='font-size:16px;margin-left:160px;cursor:pointer'><u>查看更多</u></span>
                    <span style="margin-left:25px;font-size:16px;color:#777">被转发排名</span>
                    <span data-toggle="modal" type="button"data-target="#rank_retweeted"  style='font-size:16px;margin-left:155px;cursor: pointer'><u>查看更多</u></span>
                    <span style="margin-left:45px;font-size:16px;color:#777">@排名</span>
                    <span type="button"data-toggle="modal" data-target="#rank_at" style='font-size:16px;margin-left:150px;cursor: pointer'><u>查看更多</u></span>
                </div>	
                <div id='repost' style='overflow-x:hidden;width:300px;float:left;'>
                </div>
                <div id='retweeted' style='overflow-x:hidden;width:300px;float:left;margin-left:25px;'>
                </div>
                <div id='top_at' style='overflow-x:hidden;width:300px;float:left;margin-left:25px;'>
                </div>
            </div>
		</div>

		<div id="emotion_analysis" style="float:left">
			<hr />
			<h2>情绪分析</h2>
			<div id="sentiment_index_influence" style="margin:20px;font-size:18px;"></div>
			<div id="emotion_chart" style="height:300px;width:950px;float:left;"></div>
		</div>

		<div id="weibo_text" style="float:left;width:950px;font-size:16px;">
			<hr />
			<h2>微博文本</h2>
			<div style="margin-left:20px;margin-top:10px;">类型：
				<input type="radio" style="opacity:1; position:static;" name="origin_re" checked value="0" />所有
				<input type="radio" style="opacity:1; position:static;margin-left:10px;" name="origin_re" value="1" />原创
				<input type="radio" style="opacity:1; position:static;margin-left:10px;" name="origin_re" value="2" />转发
			</div>
			<div style="margin-left:20px;margin-top:10px;">排序方式：
				<input type="radio" style="opacity:1; position:static;" name="seq_method" checked value="0">时间
				<input type="radio" style="opacity:1; position:static;margin-left:10px;" name="seq_method" value="1">转发量
				<input type="radio" style="opacity:1; position:static;margin-left:10px;" name="seq_method" value="2">评论量
			</div>
			<div id="weibo_content">
				<div id="weibo_content2"></div>
				<div id="pageGro" style="height:60px;margin-left:350px">
                <div class="pageUp">上一页</div>
                <div class="pageList">
                    <ul>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                    </ul>
                </div>
                <div class="pageDown">下一页</div>
            	</div>
			</div>
		</div>

<!--模态框：hashtag云和敏感词云  -->
		<div class="modal fade" id="hash_detail" tabindex="-1" role="dialog" aria-labelledby="hash_detail_content">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
		        <h4 class="modal-title" id="hash_detail_content">hashtag排名</h4>
		      </div>
		      <div class="modal-body" id="hash_detail_body">
		        ...
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="modal fade" id="sensi_detail" tabindex="-1" role="dialog" aria-labelledby="sensi_detail_content">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
		        <h4 class="modal-title" id="sensi_detail_content">敏感词排名</h4>
		      </div>
		      <div class="modal-body" id="sensi_detail_body">
		        ...
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="modal fade" id="rank_repost" tabindex="-1" role="dialog" aria-labelledby="sensi_detail_content">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
		        <h4 class="modal-title">更多转发排名</h4>
		      </div>
		      <div class="modal-body" id="more_repost_body">
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="modal fade" id="rank_retweeted" tabindex="-1" role="dialog" aria-labelledby="sensi_detail_content">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
		        <h4 class="modal-title">更多被转发排名</h4>
		      </div>
		      <div class="modal-body" id="more_retweeted_body">
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="modal fade" id="rank_at" tabindex="-1" role="dialog" aria-labelledby="sensi_detail_content">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
		        <h4 class="modal-title">更多@排名</h4>
		      </div>
		      <div class="modal-body" id="more_rank_at_body">
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		      </div>
		    </div>
		  </div>
		</div>

		<div id="weibo_re_modal">
		</div>
		<!--end  模态框：hashtag云和敏感词云  -->
{% endblock body %}
{% block end_js %}
  <script  src="/static/scripts/jquery-jelevator-1.0.3.min.js"></script>
  <script type="text/javascript">
    jQuery(function($){
        $("h1,h2").jElevator({
            howTopButton: true,
            showBottomButton: true,
            showSectionsMenu: true
        });
    });
 </script>
 <script  src="/static/custom/js/global_weibo.js"></script>
 <script  src="/static/custom/js/sensitive_person.js"></script>
{% endblock end_js%}
