{% extends "index/base.html" %} 
{% block title %}自定义标签{% endblock title %}
{% block subtitle %}自定义标签{% endblock subtitle %}
{% block custom_css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/custom/css/group.css">
{% endblock custom_css  %}
{% block body %}
<div class="" style="width:100%;height:420px;background-image:url('/static/custom/images/bgcolor.png');background-repeat:repeat;">
	<div class="circle" id="" style="margin-left:250px;float:left;">
		<a class="wordtitle" href="/index/tag_search/">用户标签</a>
	</div>
	<div class="circle" id="" style="margin-left:200px;float:left;">
		<a class="wordtitle" href="/index/tag_manage/">标签管理</a>
	</div>
</div>

{% endblock %}
